<ul id="nav-bar">
	<li>
		Medio - Ruby Sauce
	</li>
	<li>
		<a href="/">Home</a>
	</li>

	<% $page_menus.each do |pm| %>
	<li>
		<a href="/page/<%= pm.permalink %>"><%= pm.title %></a>
	</li>
	<% end %>
</ul>